
UserManagement/UserManagementAPI/bin/

UserManagement/UserManagementAPI/obj/

UserManagement/UserManagementInfrastructure/bin/

UserManagement/UserManagementInfrastructure/obj/

UserManagement/UserManagement.Test/bin/

UserManagement/UserManagement.Test/obj/

UserManagement/.vs/

UserManagement/UserManagement.Domain/bin/

UserManagement/UserManagement.Domain/obj/

MatchesManagement/.vs/

MatchesManagement/MatchesManagement.API/bin/

MatchesManagement/MatchesManagement.API/obj/

MatchesManagement/MatchesManagement.Domain/bin/

MatchesManagement/MatchesManagement.Domain/obj/

MatchesManagement/MatchesManagement.Infrastructure/bin/

MatchesManagement/MatchesManagement.Infrastructure/obj/

MatchesManagement/MatchesManagement.Tests/obj/

ChatsManagement/ChatsManagement.Domain/bin/

ChatsManagement/ChatsManagement.Domain/obj/

ChatsManagement/ChatsManagement.Infrastructure/bin/

ChatsManagement/ChatsManagement.Infrastructure/obj/

ChatsManagement/ChatsManagement.API/bin/

ChatsManagement/ChatsManagement.API/obj/
